.formButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    grid-column: span 2
}

.form {
    width: 100%;
    max-width: 32rem;
    margin: auto;
    font-size: 1.125rem;
    line-height: 1.5;
}