.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;

}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--border-primary);
    padding: 1rem;
    border-radius: .5rem;
}

.contactCard h5 {
    margin: 0;
}

.contactCard p {
    margin-bottom: .25rem;
}

.contactLine {
    display: flex;
    margin-bottom: .5rem;
}

.contactLine p {
    margin: 0 .5rem 0 0;
}