.container {
  width: 100%;
}

.tenantList {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  list-style: none;
}

.tenantListItem {
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: var(--elevation_1);
  background-color: var(--white);
}

.itemContent {
  display: flex;
  justify-content: space-between;
}

.contactCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-primary);
  padding: 1rem;
  border-radius: .5rem;
}

.contactCard h5 {
  margin: 0;
}

.contactCard p {
  margin-bottom: .25rem;
}

.contactLine {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.contactLine p {

  margin: 0 .5rem 0 0;
}

.paymentStatus {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.paymentStatus.overdue {
  background-color: var(--red);
}

.paymentStatus.paid {
  background-color: var(--green);
}

.paymentStatus.pending {
  background-color: var(--yellow);
}

.paymentStatus.due {
  background-color: var(--blue);
}

.tenantListItem h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}