openapi: '3.0.2'
info:
  title: Palisaid Practice Management Authentication
  version: '1.0'
components:
    securitySchemems:
      developerAuth:       # <-- for quick developer access
        type: http
        scheme: bearer
      apiKeyAuth:          # <-- Production pod access
        type: apiKey
        in: header
        name: X-API-Key
      openID:
        type: openIdConnect
        openIdConnectUrl: https://example.com/.well-known/openid-configuration
    security:
        - developerAuth: []
        - apiKeyAuth: []
        - openApi: []
servers:
   - url: https://development.authenticate.palisaid.com/v1
   description: Development server

   - url: https://staging.authenticate.palisaid.com/v1
   description: Staging server

   - url: https://api.authenticate.palisaid.com/v1
   description: Production server
paths:
 /user:
    post:
      tags:
        - user
      summary: Create user
      description: This can only be done by the logged in user.
      operationId: createUser
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/xml:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
  /user/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      description: ''
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: false
          schema:
            type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        '400':
          description: Invalid username/password supplied
  /user/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      description: ''
      operationId: logoutUser
      parameters: []
      responses:
        default:
          description: successful operation

