<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--internalLogLevel="Debug"
  internalLogFile="/sanddriftsoftware/synmed/logs/InternalLog.current.txt"
  autoReload="false"
  internalLogToConsole="true"-->

	<!--variable name="gmailUsername" value="${trim-whitespace:${file-contents:${basedir}/gmailusername.txt}}" />
  <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${basedir}/gmailpassword.txt}}" />
  <variable name="gmailToList" value="${trim-whitespace:${file-contents:${basedir}/gmailToList.txt}}" / -->

	<targets>
		<target name="logFile"
				xsi:type="File"
				fileName="./Log.${level}.current.txt"
				archiveFileName="./archives/log.error.${shortdate}.{#}.txt"
				archiveAboveSize="5242880"
				archiveEvery="Day"
				archiveNumbering = "Rolling" />

		<!-- send mail through GMail server
    <target xsi:type="Mail"
            name="mailAlert"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            enableSsl="true"
            smtpAuthentication="Basic"
            smtpUserName="${gmailUsername}"
            smtpPassword="${gmailPassword}"
            from="${gmailUsername}"
            to="${gmailUsername}"
            subject="Alert from ${machinename}"
            addNewLines="true"
            / -->

		<target xsi:type="ColoredConsole"
				name="console" />

		<!-- send mail asynchronously, so that it does not block the calling thread
    <wrapper-target xsi:type="AsyncWrapper" name="asyncMail">
      <target-ref name="mailAlert" />
    </wrapper-target -->
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<!--logger name="*" minlevel="Error" writeTo="mailAlert"/ -->
	</rules>
	<!--extentions>
    <add assembly="NLog.MailKit" />
  </extentions-->
</nlog>